In [7]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
from sqlalchemy import text
password = getpass.getpass()

 ········

In [15]:
# create connection

db = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/' + db
engine = create_engine(connection_string)

with engine.connect() as connection:
    query = text('SELECT * FROM film')
    result = connection.execute(query)

print(result)

<sqlalchemy.engine.cursor.CursorResult object at 0x12d5b8de0>

2)
Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:

engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
month: an integer representing the month for which rental data is to be retrieved.
year: an integer representing the year for which rental data is to be retrieved.
The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

In [60]:
def rentals_month(engine, month, year):
    with engine.connect() as connection:  # Use connection instead of enigine
        '''
        Retrieves rental data for a given month and year from the Sakila DB as a Pandas DataFrame.
        '''
        txt = f'''
            SELECT title, rental_date, rental_id, inventory_id, customer_id, return_date, staff_id
            FROM rental
            JOIN inventory
            USING(inventory_id)
            JOIN film
            USING (film_id)
            WHERE YEAR(rental_date) = {year} AND MONTH(rental_date) = {month};
        '''
        query = text(txt)
        result = connection.execute(query)
        return pd.DataFrame(result.all())

df = rentals_month(engine, 5, 2005)
print(df)

                  title         rental_date  rental_id  inventory_id  \
0      ACADEMY DINOSAUR 2005-05-30 20:21:07        972             2
1      ACADEMY DINOSAUR 2005-05-27 07:03:28        361             6
2      ADAPTATION HOLES 2005-05-31 04:50:07       1033            14
3      AFFAIR PREJUDICE 2005-05-31 00:06:02        995            17
4      AFFAIR PREJUDICE 2005-05-27 20:44:36        465            20
...                 ...                 ...        ...           ...
1151       ZHIVAGO CORE 2005-05-30 05:15:20        873          4568
1152  ZOOLANDER FICTION 2005-05-30 05:01:30        871          4573
1153          ZORRO ARK 2005-05-31 11:10:17       1084          4577
1154          ZORRO ARK 2005-05-28 11:33:46        582          4579
1155          ZORRO ARK 2005-05-29 03:49:03        711          4581

      customer_id         return_date  staff_id
0             411 2005-06-06 00:36:07         1
1             587 2005-05-31 08:01:28         1
2              25 2005-06-02 01:53:07         1
3             150 2005-06-06 02:30:02         2
4             261 2005-06-02 02:43:36         1
...           ...                 ...       ...
1151          375 2005-06-07 00:49:20         2
1152          303 2005-06-04 06:22:30         2
1153           12 2005-06-01 11:15:17         1
1154          198 2005-05-29 08:33:46         1
1155          215 2005-05-31 08:29:03         2

[1156 rows x 7 columns]

3. Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

In [44]:
def rental_count_month(df, month, year):
    rental_count_df = df.groupby('customer_id').size().reset_index(name=f'rentals_{month:02d}_{year}')
    return rental_count_df
df_rental_counts = rental_count_month(df, 5, 2005)
print(df_rental_counts)

     customer_id  rentals_05_2005
0              1                2
1              2                1
2              3                2
3              5                3
4              6                3
..           ...              ...
515          594                4
516          595                1
517          596                6
518          597                2
519          599                1

[520 rows x 2 columns]

4. Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years. The function should return a combined DataFrame with a new 'difference' column, which is the difference between the number of rentals in the two months.

In [68]:
def compare_rentals(df1,df2):
    df_compare_rentals= pd.merge(df1, df2, on='customer_id', how='outer').fillna(0)
    for col in df_compare_rentals.columns[1:]:  # Gehe alle Spalten ab der zweiten Spalte durch
        if pd.api.types.is_numeric_dtype(df_compare_rentals[col]):
            df_compare_rentals[col] = df_compare_rentals[col].astype(int)
            df_compare_rentals.iloc[:, 1:] = df_compare_rentals.iloc[:, 1:].astype(int)
            df_compare_rentals['difference'] = df_compare_rentals.iloc[:, 1] - df_compare_rentals.iloc[:, 2]
    
    return df_compare_rentals
df_comparison= compare_rentals(df, df_rental_counts)

/var/folders/jr/tzjk1k550jnfd3ck0z2tl_nr0000gn/T/ipykernel_915/3496634572.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       1117020637000000000
1       1117276523000000000
2       1117152564000000000
3       1117214229000000000
4       1117406635000000000
               ...
1151    1117484922000000000
1152    1117298146000000000
1153    1117249768000000000
1154    1116994768000000000
1155    1117502336000000000
Name: rental_date, Length: 1156, dtype: int64' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df_compare_rentals.iloc[:, 1:] = df_compare_rentals.iloc[:, 1:].astype(int)
/var/folders/jr/tzjk1k550jnfd3ck0z2tl_nr0000gn/T/ipykernel_915/3496634572.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       1117800037000000000
1       1117780343000000000
2       1117254624000000000
3       1117711209000000000
4       1117647835000000000
               ...
1151    1118274342000000000
1152    1117635586000000000
1153    1117932568000000000
1154    1117325428000000000
1155    1117589096000000000
Name: return_date, Length: 1156, dtype: int64' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df_compare_rentals.iloc[:, 1:] = df_compare_rentals.iloc[:, 1:].astype(int)

In [74]:
import pandas as pd

def compare_rentals(df1, df2):
    df_compare_rentals = pd.merge(df1, df2, on='customer_id', how='outer').fillna(0)
    for col in df_compare_rentals.columns[1:]:  
        if pd.api.types.is_numeric_dtype(df_compare_rentals[col]):
            df_compare_rentals[col] = df_compare_rentals[col].astype(int)
    if df_compare_rentals.shape[1] > 2:
        df_compare_rentals['difference'] = df_compare_rentals.iloc[:, 1] - df_compare_rentals.iloc[:, 2]
    return df_compare_rentals

df_comparison = compare_rentals(df, df_rental_counts)

print(df_comparison)

TypeError: Addition/subtraction of integers and integer-arrays with DatetimeArray is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`